{{log user.pictures}}
<div class="container">
  <div class="user-images">
  {{#each user.pictures as |picture|}}
    {{picture-detail picture=picture deleteImage='deleteImage'}}
  {{/each}}
  </div>
</div>
