<div class="search fixed-top">
  <input id="search" type="checkbox" /><label class="search-init" for="search"></label><label class="search-active" for="search"></label>
  <div class="search-border"></div>
  {{input class="search-field" id="search-field" action="search" value=search placeholder="search photos..." type="text"}}
  <div class="close-search"></div>
</div>
