$red-primary: #853847;
$red-secondary: #523A3F;
$grey-primary: #393939;
$grey-secondary: #3F3F3F;
$grey-tertiary: #D2D2D2;

$red-primary-light: rgba(133, 56, 71, 0.2);

$link-primary: $grey-primary;
$link-secondary: $grey-secondary;
$link-tertiary: $red-primary-light;

$primary-font: 'Montserrat', sans-serif;


$link-font: $primary-font;
