.image-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position:relative;
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
  a {
    position: absolute;
    color: #000;
    font-family: $link-font;
    text-align: center;
    display: block;
    margin-top: 365px;
    margin-left: -230px;
  }
  #heart {
    position: absolute;
    color: red;
    text-align: center;
    display: block;
    margin-top: 365px;
    margin-left: -300px;
    transition: all 0.5s ease;
    &:hover{
      font-size: 14pt;
      transition: all 0.5s ease;
      cursor: pointer;
    }
  }
  #plus {
    position: absolute;
    color: $grey-primary;
    text-align: center;
    display: block;
    margin-top: 365px;
    margin-left: -110px;
    transition: all 0.5s ease;
    &:hover{
      font-size: 14pt;
      transition: all 0.5s ease;
      cursor: pointer;
    }
  }
}
.index-images {
  margin-top: 50px;
  height: 300px;
  width: 300px;
  margin-right: 50px;
  margin-left: 50px;
}
