.image-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position:relative;
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
    a {
      position: absolute;
      color: #000;
      font-family: 'arial';
      text-align: center;
      display: block;
      margin-top: 365px;
      margin-left: -230px;
    }
}
.index-images {
  margin-top: 50px;
  height: 300px;
  width: 300px;
  margin-right: 50px;
  margin-left: 50px;
}
