nav{
  width: 100%;
  height: 60px;
  ul{
    display: inline;
    list-style: none;
    li{
      display: inline;
      list-style: none;
      float: left;
      padding-left: 20px;
      a{
        color: black;
        padding: 20px;
        &:hover{
          color: black;
          text-decoration: none;
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
  }
}
