nav{
  width: 100%;
  height: 60px;
  ul{
    display: inline;
    list-style: none;
    li{
      display: inline;
      list-style: none;
      float: left;
      padding-left: 20px;
      a{
        color: $link-primary;
        padding: 20px;
        &:hover{
          color: $link-secondary;
          text-decoration: none;
          background-color: $red-primary-light;
        }
      }
    }
  }
}
