.user-images{
  display: flex;
  flex-wrap: wrap;
  img{
    margin-left: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: auto;
  }
}
.edit-form{
  display: flex;
  flex-wrap: wrap;
}
.uploaded-picture-form{
  margin-top: 50px;
  margin-bottom: 50px;
  height: 360px;
  width: 330px;
  padding: 35px;
  display: inline-block;
}
#profile-pic {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 100px;
}
