<nav>
  <ul>
    <li class="nav-link">{{#link-to 'index'}}Home{{/link-to}}</li>
    {{login-link}}
    <li class="nav-link">{{signup-link}}</li>
    <li class="nav-link">{{logout-link}}</li>
  </ul>
</nav>
{{outlet}}
