{{user-tile}}
{{log profile.id}}
{{profile-link transitionToProfile='transitionToProfile'}}
<div class="image-grid">
  {{#each model.pictures as |picture|}}
  <img src={{picture.dataURL}} class='index-images'/>
  {{/each}}
</div>
